* {
    margin: 0px; padding: 0px;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}

.upbtn {
    top: 90%; left: 96%; width: 45px; height: 45px;
    border-radius: 80%; background-color: #ffffff;
    border: black 3px solid;
    position: fixed; z-index: 2;
}
header {
    width: 100%;
    position: fixed;
    background-color: white;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
header .inner {
    width: 1400px; height: 175px;
    margin: 20px auto 0 ;
}
header .inner a {
    display: flex;
    margin: 0 auto;
    width: 70px; height: 64px;
}


header .inner .topmenu {
    display: flex;
    width: 250px;
    height: 23px;
    margin-left: auto;
}
header .inner .topmenu li a{
    font-size: 13px;
    font-weight: 500;
    color: black;
}
header .inner .topmenu li a:hover {color: lightgray;}

header .inner .search {
    margin-left: auto;
    background-color:rgb(241, 237, 237);
    width: 170px; height: 29px;
    border-radius: 30px;
}
header .inner .search p {
    font-size: 13px;
    font-weight: 500;
    padding: 6px;
    text-align: center;
    color: rgb(142, 138, 138)
}

header .inner .menu {
    display: flex;
    justify-content: flex-end;
}
header .inner .menu li {
    margin: 5px;
    color: black;
    font-size: 14px;
    font-weight: 600;
}

header .inner .downmenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
header .inner .downmenu  li a{
    width: 120px; height: 24px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}
header .inner .downmenu li a:hover { color: red;}

.main {
    width: 100%; height: 850px;
    padding-top: 200px;
}
.main .login {
    margin: 70px auto 0;
    width: 500px;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}
.main .id input{
    width: 380px; height: 40px;
    margin-top: 25px;
    padding: 0 20px;
}
.main .pw input {
    width: 380px; height: 40px;
    padding: 0 20px;
    margin-top: 6px;
}
.main .login_btn {
    margin-top: 9px;
}
.main .login_btn  input{ 
    width: 380px; height: 48px;
    border: 0;
    outline: none;
    background-color: black;
    color: white;
    font-size: 15px;
    font-weight: 600;
}

.main p {
    margin-top: 7px;
    text-align: center;
    font-size: 10px;
}
.main .login .sns_login {
    margin: 30px auto;
}
.main .login .sns_login img{
    width: 185px; height: 36px;
}
.main .login .login_menu {
    width: 390px;
    margin: 30px auto;
    font-size: 12px;
    border-top: 1px solid black;
}
.main .login .login_menu li {
    float: left;
    padding: 17px 3px;
}

.bottom {
    width: 100%;
    padding: 55px 148px;
    border-top: 1px solid black;
    background-color: rgb(246, 244, 244);
    font-size: 10.6px; font-weight: bolder;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
}
.bottom .area {
    flex-basis: 100px;
    flex-shrink: 2;
    flex-grow: 1;
}
.bottom img {
    margin-top: 20px;
    width: 29px;
    height: 29px;
}
.bottom ul li {
    margin: 5px 0;
}
.font4 {
    width: 300px; padding: 5px 0;
    font-size: 21px; font-weight: bolder;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.font5 {
    width: 500px;
    font-size: 11px;
    margin-bottom: 30px;
}